spring:
  jpa:
    database: postgresql
    hibernate:
      ddl-auto: update
    show-sql: true
  datasource:
    hikari:
      maximum-pool-size: 4
    url: jdbc:postgresql://localhost:5432/moyeobwayo
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
